# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="4000"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

#Prisma DB URL
DATABASE_URL="888"

# Twitter
TWITTER_APP_KEY=""
TWITTER_APP_SECRET=""

# Secret for JWT
JWT_SECRET=a83cb4fe49171a1e1d4ce03b416d0f3e56d42f6fffb567f018d5224906f2b9ede36cd4d0f3e56d42f

# Secret for session
SESSION_SECRET=edbd4bef455666f9110c5fc091c0b5a96ea62e58bca6b976690ec7cb71a83cb4d0f3e56d42f6fffb56
